extends ../shared/layout
block main-content
    .container
        form(method='post' class="form-horizontal")
            fieldset
                legend User Profile
                .row
                    .col-md-4
                        .form-group
                            label(for="firstName" class="control-label") First Name
                            input(id="firstName" class="form-control" type="text" name="firstName" value="#{currentUser.firstName}")
                        .form-group
                            label(for="lastName" class="control-label") Last Name
                            input(id="lastName" class="form-control" type="text" name="lastName" value="#{currentUser.lastName}")
                        .form-group
                            label(for="email" class="control-label") Email
                            input(id="email" class="form-control" type="email" name="email" value="#{currentUser.email}")
                    .col-md-4.col-md-offset-2
                        .form-group
                            label(for="image" class="control-label") Image
                            input(id="image" class="form-control" type="text" name="image" value="#{currentUser.image}")
                        .form-group
                            label(for="faceBookLink" class="control-label") Facebook Link
                            input(id="faceBookLink" class="form-control" type="text" name="faceBookLink" value="#{currentUser.faceBookLink}")
                        .form-group
                            label(for="youTubeLink" class="control-label") YouTube Link
                            input(id="youTubeLink" class="form-control" type="text" name="youTubeLink" value="#{currentUser.youTubeLink}")
                .row
                    .col-md-7.col-md-offset-5
                        .form-group
                            input(type="submit" class="btn btn-primary" value="Update")

